<noscript>
    <style>
        .preloader {
            display: none;
        }
    </style>
</noscript>

<style>
    @keyframes ball-scale {
        0% {
            opacity: 1;
            transform: scale(0);
        }

        100% {
            opacity: 0;
            transform: scale(1);
        }
    }

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    .preloader__indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -27px 0 0 -27px;
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background-color: #fb565a;
        animation: ball-scale 1000ms 0ms ease-in-out infinite;
        animation-fill-mode: both;
    }
</style>

<div class="preloader" id="preloader">
    <div class="preloader__indicator"></div>
</div>